html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans Condensed', sans-serif;
	overflow-y: scroll;
}

.header {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	line-height: 70px;
	height: 70px;
	z-index: 1;
	user-select: none;
}

.logo {
	position: absolute;
	color: rgba(255, 255, 255, 0.7);
	display: inline-block;
	font-size: 64px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	vertical-align: middle;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
	margin-left: 20px;
}

#filters {
	color: silver;
	font-size: 18px;
	margin-left: 170px;
	text-overflow: ellipsis;
}

#filterList {
	color: white;
	position: fixed;
	line-height: normal;
	top: 70px;
	left: 160px;
	display: none;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 0.5rem;
}

#activeFilters {
	margin-left: 0.5rem;
}

#content {
    margin-top: 70px;
}

.section {
    font-size: 28px;
	font-weight: bold;
    border-bottom: 1px solid silver;
    margin: 0 1rem;
}

.sectionContent {
    display: flex;
    flex-wrap: wrap;
}

.item {
	flex-grow: 1;
    margin: 1rem;
    text-align: center;
	color: black;
	text-decoration: none;
}

.item > img {
	height: 122px;
}

.item > span {
	border-bottom: 1px solid silver;
}

.arrow {
	border: solid white;
	border-width: 0 5px 5px 0;
	display: inline-block;
	padding: 5px;
}

.up {
	transform: rotate(-135deg);
}

.down {
	transform: rotate(45deg);
}
